/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Req_Des]
      ,[call_date]
      ,[Call_Preson_Name]
      ,[Job_Profile]
      ,[ReqLoc]
      ,[Candidate_Cont_Numbr]
      ,[Candidate_Current_LocateAt]
      ,[Ready_for_Relocate]
      ,[Current_Design]
      ,[Current_Compny_Name]
      ,[Type_Of_Compny]
      ,[Highest_Qualification]
      ,[Total_Experience]
      ,[Cuurent_CTC]
      ,[Exp_CTC]
      ,[Notice_Period]
      ,[Reffered_By]
      ,[Reffered_By_Name]
      ,[Status]
      ,[Ready_for_Interview]
      ,[Interview_Schdule_Date_Time]
      ,[Remarks]
      ,[Type_of_Interview]
      ,[Interview_Schdule_with]
      ,[Designation]
      ,[candidate_name]
      ,[DOB]
  FROM [Axpress].[dbo].[Purpose_of_shortlisted_candidates]